<div class="row">
  <div class="col-8">
    <h2>Genres <small class="text-muted">List</small></h2>
  </div>
  <div class="col-4 text-sm-right">
    <%= link_to "New Genre", new_genre_path, class: "btn btn btn-primary" %>
  </div>
</div>

<br/>

<% if @genres.empty? %>
<div class="row">
  <div class="col-8">
    <p>No Genres...</p>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-8">
    <ul>
      <% @genres.each do |genre| %>
        <li>
          <p><%= genre.name %></p>
          <p>
            <%= link_to "Edit", edit_genre_url(genre.id) %>
            <%= link_to "Details", genre_path(genre) %>
            <%= link_to "Delete", genre_path(genre), method: :delete %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

