<div class="row">
  <div class="col-8">
    <h2>Genres <small class="text-muted">List</small></h2>
  </div>
  <div class="col-4 text-sm-right">
    <%= link_to "New Genre", new_genre_path, class: "btn btn btn-primary" %>
  </div>
</div>

<% if @genres.empty? %>
<div class="row">
  <div class="col-8">
    <p>No Genres...</p>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-8">
    <ul class="list-unstyled">
      <% @genres.each do |genre| %>
        <li class="media my-4">
          <div class="mr-3 name-as-cover-image"><%= avataryze(genre.name) %></div>
          <div class="media-body">
            <p><%= genre.name %></p>
            <p>
              <%= link_to "Edit", edit_genre_url(genre.id) %>
              <%= link_to "Details", genre_path(genre) %>
              <%= link_to "Delete", genre_path(genre), method: :delete %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

