<div class="row">
  <div class="col-xs-12 col-sm-6 offset-sm-3">
    <%= form_for [@artist, @album] do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :genre %>
        <%= f.select :genre_id, options_for_select(@genres.map { |genre| [genre.name, genre.id] }, @album.genre ? @album.genre.id : nil ), class: "form-control" %>
      </div>

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>