<div class="row">
  <div class="col-8">
    <h2>Albums <small class="text-muted"><%= @artist.name %></small></h2>
  </div>
  <div class="col-4 text-sm-right">
    <%= link_to 'Back To Artist', artist_path(@artist), class: "btn btn btn-link" %>
    <%= link_to "New Album", new_artist_album_path(@artist), class: "btn btn btn-primary" %>
  </div>
</div>

<br/>

<% if @albums.empty? %>
<div class="row" >
  <div class="col-8">
    <p>No Albums...</p>
  </div>
</div>
<% else %>
<ul class="list-unstyled">
<% @albums.each do |album| %>
  <li class="media my-4">
    <div class="mr-3 cover-image" style="background-image: url(<%= if album.cover_image.nil? then asset_path 'no-image.png' else album.cover_image end %>)"></div>
    <div class="media-body">
      <h5><%= album.name %></h5>
      <p>
        <%= link_to 'Edit', edit_artist_album_path(@artist, album.id)%>
        <%= link_to 'Details', artist_album_path(@artist, album.id) %>
        <%= link_to 'Delete',  artist_album_path(@artist, album.id), method: :delete %>
      </p>
    </div>
  </li>
<% end %>
</ul>
<% end %>

