<div class="row">
  <div class="col-8">
    <h2><%= @artist.name %> <small class="text-muted"><%= @album.name %></small></h2>
  </div>
  <div class="col-4 text-sm-right">
    <%= link_to 'Back to Artist', artist_path(@artist), class: "btn btn btn-link" %>
    <%= link_to 'Add Songs', new_artist_album_song_path(@artist, @album), class: "btn btn btn-primary" %>
  </div>
</div>

<% if @songs.empty? %>
<div class="row" >
  <div class="col-8">
    <p>No Songs...</p>
  </div>
</div>
<% else %>
<h5>Songs</h5>
<ul class="list-unstyled">
<% @songs.each do |song| %>
  <li class="media my-4">
    <div class="mr-3 name-as-cover-image"><%= avataryze(song.name) %></div>
    <div class="media-body">
      <h5><%= song.name %></h5>
      <%= link_to 'Edit', edit_artist_album_song_path(@artist, @album, song.id) %>
      <%= link_to 'Delete', artist_album_song_path(@artist, @album, song.id), method: :delete %>
    </div>
  </li>
<% end %>
</ul>
<% end %>

